# Core Inference and Processing
tensorflow==2.15.0
mediapipe==0.10.14
opencv-contrib-python==4.9.0.80
pandas==2.1.4
numpy==1.26.4

# API and Backend
fastapi==0.109.0
uvicorn==0.27.0
requests==2.31.0
python-multipart==0.0.9